.wi-day-storm-showers {
    width:100%;
    font-size: 130px;
    color:#007bff;
}
.weather-icon{
    margin:50px 0;
}
.welcome {
    width:100%;
    font-size: 70px;
    color:orange;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}