.demoform {
    background: white;
    margin:10px;
    padding:10px;
    border:1px solid #ddd;
    border-radius: 10px;
}

input.form-control.error{
    border:1px solid red;
}
.check-box{
    margin-left:10px;
}